.bb-border {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--tertiary);
  > .bb-background {
    margin: -10px;
  }
}

.bb-background {
  padding: 10px;
  color: currentColor;
}
