div.bb-check {
    &::before {
        width: 30px;
        display: inline-block;
        text-align: center;
        &[data-type='dot'] {
            content: "◉";
            color: #3498DB;
        }
        &[data-type='cross'] {
            content: "✘";
            color: #b30000;
        }
        &[data-type='check'] {
            content: "✓";
            color: #00b300;
        }
    }
}