div.bb-check {
    width: 30px;
    display: inline-block;
    text-align: center;
    &::before {
        content:"◉";
        color: rgb(70, 161, 222);
    }
}

span.bb-check-dot {
    content:"◉";
    color: rgb(70, 161, 222);
}

span.bb-check-check {
    content: "✓";
    color: rgb(79, 255, 79);
}

span.bb-check-cross {
    content: "✘";
    color: rgb(255, 79, 79);
}