div.bb-check {
    &::before {
        width: 30px;
        display: inline-block;
        text-align: center;
        content: "◉";
        color: #3498DB;
    }
}

span.bb-check-dot {
    &::before {
        content:"◉";
        color: #3498DB;
    }
}

span.bb-check-check {
    &::before {
        content: "✓";
        color: #00b300;
    }
}

span.bb-check-cross {
    &::before {
        content: "✘";
        color: #b30000;
    }
}