span.bb-divide {
  border-bottom: 1px solid var(--tertiary);
  color: var(--tertiary);
  font-size: 75%;
  width: 100%;
  display: block;
  text-align: center;
  &[data-type="thick"] {
    border-bottom: 3px solid var(--tertiary);
  }

  &[data-type="dotted"] {
    border-bottom: 1px dotted var(--tertiary);
  }

  &[data-type="dotted-thick"],
  &[data-type="thick-dotted"] {
    border-bottom: 3px dotted var(--tertiary);
  }
}
