.bb-newspaper {
  font-family: "Times New Roman", Georgia, Serif;
  text-align: justify;
  column-count: 3;
  padding: 10px;
  background: url("/plugins/bbcode/images/paper.jpg");
  border: 1px solid var(--tertiary);
  color: black;

  @media screen and (width <= 1000px) {
    column-count: 2;
  }

  @media screen and (width <= 750px) {
    column-count: 1;
  }
}
