.bb-note {
  max-width: 450px;
  padding: 20px;
  line-height: 1.75em;
  margin: 0 auto;
  margin-top: 25px !important;
  font-family: "Coming Soon", "Architects Daughter", cursive;
  background: #fcf0ad url("/plugins/bbcode/images/notecorner.jpg") 100% 100% no-repeat;
  position: relative;
  color: black;

  .bb-note-content {
    overflow: hidden;
  }
  .bb-note-footer {
    height: 50px;
    width: 50px;
    float: right;
  }

  .bb-note-tape {
    background-color: hsla(0, 0%, 100%, 0.5);
    box-shadow: inset 0 0 1em 0.5em hsla(0, 0%, 100%, 0.1);
    height: 3em;
    position: absolute;
    transform: rotate(-4deg);
    width: 9em;
    -webkit-filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, 0.3));
    top: -1.5em;
    left: 50%;
    margin-left: -4.5em;

    &:after,
    &:before {
      background-size: 0.4em 0.4em;
      bottom: 0;
      content: "";
      position: absolute;
      top: 0;
      width: 0.2em;
    }
    &:after {
      background-image: linear-gradient(45deg, transparent 50%, hsla(0, 0%, 100%, 0.3) 50%),
        linear-gradient(-45deg, transparent 50%, hsla(0, 0%, 100%, 0.3) 50%);
      background-position: 0 100%;
      left: -0.2em;
    }
    &:before {
      background-image: linear-gradient(135deg, transparent 50%, hsla(0, 0%, 100%, 0.3) 50%),
        linear-gradient(-135deg, transparent 50%, hsla(0, 0%, 100%, 0.3) 50%);
      background-position: 100% 100%;
      right: -0.2em;
    }
  }
}
