div.bb-ooc {
  color: var(--primary-high);
  font-style: italic;
  padding: 0;
  border: 1px solid var(--tertiary-low);
  &::before {
    font-style: normal;
    font-weight: 600;
    color: white;
    background: var(--tertiary-low);
    text-align: center;
    width: 50px;
    float: left;
    margin-right: 15px;
    content: "OOC";
  }
}
