div.bb-print {
    font-family: "Coming Soon", "Architects Daughter", cursive;
    font-size: 16px;
    width: auto;
    margin: 0 auto;
    background-image: url("/plugins/bbcode/images/paper-top3.png"),
      url("/plugins/bbcode/images/paper-bottom3.png"),
      url("/plugins/bbcode/images/paper.jpg");
    background-position: 50% 0, 50% 100%, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: auto 65px, auto 65px, 400px 400px;
    padding: calc(15px + 65px) 25px;
    line-height: 25px;

    &-line {
        @extend .bb-print;
        background-image: url("/plugins/bbcode/images/paper-top3.png"),
          url("/plugins/bbcode/images/paper-bottom3.png"),
          url("/plugins/bbcode/images/paperlined.jpg");
      }
      &-graph {
        @extend .bb-print;
        background-image: url("/plugins/bbcode/images/paper-top3.png"),
          url("/plugins/bbcode/images/paper-bottom3.png"),
          url("/plugins/bbcode/images/papergraph.jpg");
      }
      &-parchment {
        @extend .bb-print;
        background-image: url("/plugins/bbcode/images/paper-top3.png"),
          url("/plugins/bbcode/images/paper-bottom.png"),
          url("/plugins/bbcode/images/paperparchment.jpg");
      }
}
