.bb-row {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 0;

  .bb-column {
    margin: 0 0.5%;
    padding: 0 0.5%;
    float: left;
  }

  .column-width-span1 {
    width: 10.5%;
  } /*12.5*/
  .column-width-span2 {
    width: 23%;
  } /*25*/
  .column-width-span3 {
    width: 35.5%;
  } /*37.5*/
  .column-width-span4 {
    width: 48%;
  } /*50*/
  .column-width-span5 {
    width: 60.5%;
  } /*62.5*/
  .column-width-span6 {
    width: 73%;
  } /*75*/
  .column-width-span7 {
    width: 85.5%;
  } /*87.5*/
  .column-width-span8 {
    width: 98%;
  } /*100*/
}
@media screen and (max-width: 900px) {
  .bb-row .column-width-span1,
  .bb-row .column-width-span2,
  .bb-row .column-width-span3,
  .bb-row .column-width-span4,
  .bb-row .column-width-span5,
  .bb-row .column-width-span6,
  .bb-row .column-width-span7,
  .bb-row .column-width-span8 {
    width: 100%;
  } /*12.5*/

  .bb-row .bb-column {
    margin: 0;
    padding: 0;
    float: none;
  }
}
