.bb-row {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 0;
   &[data-span="column-width-span1"] {
    width: 10.5%;
  } /*12.5*/
   &[data-span="column-width-span2"] {
    width: 23%;
  } /*25*/
   &[data-span="column-width-span3"] {
    width: 35.5%;
  } /*37.5*/
   &[data-span="column-width-span4"] {
    width: 48%;
  } /*50*/
   &[data-span="column-width-span5"] {
    width: 60.5%;
  } /*62.5*/
   &[data-span="column-width-span6"] {
    width: 73%;
  } /*75*/
   &[data-span="column-width-span7"] {
    width: 85.5%;
  } /*87.5*/
   &[data-span="column-width-span8"] {
    width: 98%;
  } /*100*/
}

.bb-row .bb-column {
  margin: 0 0.5%;
  padding: 0 0.5%;
  float: left;
}

@media screen and (max-width: 900px) {
  .bb-row [data-span="column-width-span1"],
  .bb-row [data-span="column-width-span2"],
  .bb-row [data-span="column-width-span3"],
  .bb-row [data-span="column-width-span4"],
  .bb-row [data-span="column-width-span5"],
  .bb-row [data-span="column-width-span6"],
  .bb-row [data-span="column-width-span7"],
  .bb-row [data-span="column-width-span8"] {
    width: 100%;
  } /*12.5*/

  .bb-row .bb-column {
    margin: 0;
    padding: 0;
    float: none;
  }
}
